Schemes of URLs without hosts get ignored

Wikipedia [says](https://en.wikipedia.org/wiki/File_URI_scheme#How_many_slashes?) `unix:/docker.sock` is a valid URL without a hostname.

```
$ docker --host unix:/docker.sock info
Client:
 Context:    default
 Debug Mode: false
 Plugins:
  buildx: Build with BuildKit (Docker Inc., v0.5.1-docker)
  compose: Docker Compose (Docker Inc., 2.0.0-beta.4)
  scan: Docker Scan (Docker Inc., v0.8.0)

Server:
ERROR: error during connect: Get "http://unix:2375/docker.sock/v1.24/info": dial tcp: lookup unix: no such host
errors pretty printing info
```

The WikiPedia page refers to what's described in [RFC8089](https://datatracker.ietf.org/doc/html/rfc8089), which is a refinement of [RFC1738, section 3.10](https://datatracker.ietf.org/doc/html/rfc1738#section-3.10).

Note that RFC8089 specifically deals with the `file` scheme, no other schemes. So while the use of the `unix` pseudo scheme is modelled after the `file` scheme ([RFC1738, section 3.10](https://datatracker.ietf.org/doc/html/rfc1738#section-3.10) at the time), they do not have to be the same here.

Contrary to RFC8089, RFC1738 (referenced as the "traditional" file URI) did not mark the `<hostname>` element (in `file://<host>/<path>`) as  _optional_, although it was allowed to be an empty string;

```markdown
As a special case, <host> can be the string "localhost" or the empty
string; this is interpreted as `the machine from which the URL is
being interpreted'.
```

Given that the new notation described in RFC8089 is therefore not backward compatible with the older standard, it describes ([section 2](https://datatracker.ietf.org/doc/html/rfc8089#section-2):

```markdown
To maximize compatibility with previous specifications, users MAY choose to
include an "auth-path" with no "file-auth" when creating a URI.
```

I think changing how we handle this will lead to potentially breaking changes, and I don't see a good motivation to take that risk, so for that reason I'm closing this ticket, but feel free to continue the conversation.


Okay, then I will use empty hosts (`new URI("unix", null, "", -1, "/var/run/docker.sock", null, null)`), not null (`new URI("unix", null, "/var/run/docker.sock", null, null)`).